@* _Navbar.cshtml *@
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("FitnessPlusPlus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Muscle Group", "Index", "MuscleGroups", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Exercises", "Index", "Exercises", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>

            <!-- Search Box -->
            @using (Html.BeginForm("Index", "Exercises", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="form-group">
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search Exercises" })
                </div>
            }
        </div>
    </div>
</nav>

